@inject IProductService ProductService
<h3>Product List</h3>
@if(ProductService.Products is null || ProductService.Products.Count == 0)
{
    <span>Loading...</span>
}
else
{
    <ul>
        @foreach(var product in  ProductService.Products)
        {
            <li class="card">
                <h4>@product.Name</h4>
                <p>@product.Price</p>
            </li>
        }
    </ul>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
}
