@inject HttpClient Http
<h3>Product List</h3>
<ul>
    @foreach(var product in  products)
    {
        <li class="card">
            <h4>@product.Name</h4>
            <p>@product.Price</p>
        </li>
    }
</ul>

@code {
    private static List<ProductDto> products = new List<ProductDto>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<SuccessResponse<List<ProductDto>>>("api/product/");
       
        if(result is  not null && result.Data is not null)
        {
            products = result.Data;
        }
    }
}
